<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<style>
    table,table tr th, table tr td { border:1px solid #0094ff; }
    table {
        width: 200px;
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
    }
</style>
    <table>
        <tr>
            <td>
                <a href="views/level1/1.html">level1-1</a>
            </td>
            <td>
                <a href="views/level1/2.html">level1-2</a>
            </td>
            <td>
                <a href="views/level1/3.html">level1-3</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="views/level2/1.html">level2-1</a>
            </td>
            <td>
                <a href="views/level2/2.html">level2-2</a>
            </td>
            <td>
                <a href="views/level2/3.html">level2-3</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="views/level3/1.html">level3-1</a>
            </td>
            <td>
                <a href="views/level3/2.html">level3-2</a>
            </td>
            <td>
                <a href="views/level3/3.html">level3-3</a>
            </td>
        </tr>
    </table>
</body>
</html>